<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Flashcard App</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap" rel="stylesheet" />
</head>
<body class="flashmind-theme">
<header>
  {% if session.username %}
  <nav class="navbar">
    <a href="{{ url_for('dashboard') }}">Dashboard</a>
    <a href="{{ url_for('create_set') }}">View Flashcards</a>
    <a href="{{ url_for('choose_review') }}">Review Flashcards</a>
    <a href="{{ url_for('logout') }}">Logout</a>
  </nav>
  {% endif %}
</header>

<main>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class="flashes">
        {% for m in messages %}<li>{{ m }}</li>{% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
  {% block content %}{% endblock %}
</main>
</body>
</html>
