{% extends "layout.html" %}
{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/view_set.css') }}">

<div class="set-container">

```
<div class="top-bar">
    <h2>{{ set_data.name }}</h2>

    <div class="actions">
        <a href="{{ url_for('create_flashcard') }}" class="btn-add">
            + Add Card
        </a>

        <a href="{{ url_for('review_flashcards', set_id=set_data._id) }}" class="btn-review">
            Start Review
        </a>
    </div>
</div>


<div class="cards-grid">
    {% for card in flashcards %}
    <div class="flashcard">

        <div class="question">
            {{ card.question }}
        </div>

        <div class="answer">
            {{ card.answer }}
        </div>

    </div>
    {% endfor %}
</div>
```

</div>
{% endblock %}
